.container {
    font-size: 40px;
    width: 100%;
    min-height: 700px;
    background: LightGray;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-rows: 1fr 1fr ;
    grid-gap: 20px;
    
}
#item {
    background-color: black;
    border-radius: 8px;
}
img {
   margin-left: 94px;
   border-radius: 8px;
   position: relative;
   margin-bottom: 120px;
}
h1, h2 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    text-align: center;
    margin-bottom: 130px;
    padding-top: -50px;
}
p {
    color: white;
    font-size: large;
    text-align: center;
}